In [1]:
import seaborn as sb
import pandas as pd
import matplotlib.pyplot as mp
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [9]:
data=pd.read_excel("C:/Users/DS1/Downloads/random_forest_dataset (1).xlsx")

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sl No   117 non-null    int64
 1   USN     117 non-null    object
 2   Name    117 non-null    object
 3   Title   116 non-null    object
 4   P1      117 non-null    int64
 5   C1      117 non-null    float64
 6   P2      117 non-null    float64
 7   C2      117 non-null    float64
 8   P3      117 non-null    int64
 9   C3      117 non-null    float64
 10  R1      117 non-null    int64
 11  T1      117 non-null    int64
 12  P3T     117 non-null    float64
 13  Total   117 non-null    float64
 14  Grade   117 non-null    object
dtypes: float64(6), int64(5), object(4)
memory usage: 13.8+ KB

In [11]:
data.describe()

,Sl No,P1,C1,P2,C2,P3,C3,R1,T1,P3T,Total
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,59.358974,78.820513,15.764103,78.773504,31.509402,82.923077,16.584615,12.196581,3.401709,32.182906,79.459829
std,34.320362,22.826790,4.565358,22.490563,8.996225,23.711322,4.742264,3.574911,1.692070,9.324146,22.680225
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,78.000000,15.600000,78.000000,31.200000,83.000000,16.600000,12.000000,3.000000,31.800000,80.000000
50%,59.000000,84.000000,16.800000,84.000000,33.600000,90.000000,18.000000,13.000000,4.000000,35.400000,85.000000
75%,89.000000,91.000000,18.200000,90.000000,36.000000,94.000000,18.800000,14.000000,5.000000,36.800000,91.000000
max,118.000000,100.000000,20.000000,100.000000,40.000000,102.000000,20.400000,15.000000,5.000000,40.000000,100.000000

In [12]:
data.head(5)

,Sl No,USN,Name,Title,P1,C1,P2,C2,P3,C3,R1,T1,P3T,Total,Grade
0,1,1RV21MC001,ABHISHEK M,Generative AI Prompt Pipeline,78,15.6,85.0,34.0,93,18.6,13,4,35.6,85.2,A
1,2,1RV21MC002,ABHISHEK RANJANAGOUDA G,Android based Smart Vehicle Parking System usi...,84,16.8,82.0,32.8,77,15.4,15,5,35.4,85.0,A
2,3,1RV21MC003,ADARSH V MORYE,Sentimental Analysis for product ratings,84,16.8,82.0,32.8,88,17.6,13,1,31.6,81.2,A
3,4,1RV21MC004,AISHWARYA K KAMBLE,Analysis and Deployment of an efficient Deep L...,88,17.6,85.0,34.0,96,19.2,13,4,36.2,87.8,A
4,5,1RV21MC005,AISHWARYA NAGARAJ BABALESHWAR,Development of Deep Learning Model for Varied ...,84,16.8,82.0,32.8,77,15.4,15,5,35.4,85.0,A

In [13]:
data.isna().sum()

Sl No    0
USN      0
Name     0
Title    1
P1       0
C1       0
P2       0
C2       0
P3       0
C3       0
R1       0
T1       0
P3T      0
Total    0
Grade    0
dtype: int64

In [14]:
data['R1']=data['R1'].fillna(data['R1'].mean())

In [15]:
data['T1']=data['T1'].fillna(data['T1'].mean())

In [16]:
data['Grade']=data['Grade'].fillna(data['Grade'].mode())
data['Grade'].mode()

0    A
Name: Grade, dtype: object

In [17]:
data.isna().sum()

Sl No    0
USN      0
Name     0
Title    1
P1       0
C1       0
P2       0
C2       0
P3       0
C3       0
R1       0
T1       0
P3T      0
Total    0
Grade    0
dtype: int64

In [18]:
x=data.drop(['Sl No','Grade','USN','Name','Title'],axis=1)
x.isnull().sum()

P1       0
C1       0
P2       0
C2       0
P3       0
C3       0
R1       0
T1       0
P3T      0
Total    0
dtype: int64

In [19]:
y=data['Grade']
y.head

<bound method NDFrame.head of 0      A
1      A
2      A
3      A
4      A
      ..
112    S
113    S
114    S
115    A
116    B
Name: Grade, Length: 117, dtype: object>

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
y_train.isna().sum()

0

In [21]:
rfc=RandomForestClassifier(n_estimators=10,random_state=42)

In [22]:
rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10, random_state=42)

In [23]:
y_pred=rfc.predict(x_test)

In [24]:
confusion_matrix(y_test,y_pred)

array([[15,  1,  2],
       [ 0,  3,  0],
       [ 0,  0, 15]], dtype=int64)

In [25]:
accuracy_score(y_test,y_pred)

0.9166666666666666

In [26]:
x_test

      P1    C1     P2    C2   P3    C3  R1  T1   P3T  Total
44    75  15.0   80.0  32.0   90  18.0  15   5  38.0   85.0
4     84  16.8   82.0  32.8   77  15.4  15   5  35.4   85.0
53    82  16.4   81.0  32.4   91  18.2  12   3  33.2   82.0
42    73  14.6   76.0  30.4   90  18.0  10   0  28.0   73.0
10    82  16.4   79.0  31.6   84  16.8  13   5  34.8   82.8
85    90  18.0   93.0  37.2   94  18.8  14   5  37.8   93.0
72    95  19.0   93.0  37.2   95  19.0  14   5  38.0   94.2
94    88  17.6   82.0  32.8   89  17.8  13   5  35.8   86.2
36    75  15.0   80.0  32.0   89  17.8  14   4  35.8   82.8
11    82  16.4   79.0  31.6   84  16.8  13   5  34.8   82.8
40    80  16.0   85.0  34.0   92  18.4  14   4  36.4   86.4
26    91  18.2   94.5  37.8  100  20.0  15   4  39.0   95.0
95    70  14.0   76.0  30.4   78  15.6  12   4  31.6   76.0
104   93  18.6   90.0  36.0   98  19.6  14   5  38.6   93.2
18     0   0.0    0.0   0.0    0   0.0   0   0   0.0    0.0
0     78  15.6   85.0  34.0   93  18.6  13   4  35.6   85.2
62    91  18.2   92.0  36.8   93  18.6  14   5  37.6   92.6
112   92  18.4   90.0  36.0   94  18.8  13   4  35.8   90.2
76    91  18.2   94.0  37.6   96  19.2  15   5  39.2   95.0
101   93  18.6   90.0  36.0   98  19.6  14   5  38.6   93.2
68    93  18.6   92.0  36.8   92  18.4  12   5  35.4   90.8
89     0   0.0    0.0   0.0    0   0.0   0   0   0.0    0.0
115    0   0.0    0.0   0.0    0   0.0   0   0   0.0    0.0
12    79  15.8   79.0  31.6   86  17.2  13   3  33.2   80.6
15    91  18.2   94.0  37.6   96  19.2  14   4  37.2   93.0
69   100  20.0  100.0  40.0   99  19.8  14   4  37.8   97.8
31    82  16.4   82.0  32.8   93  18.6  12   3  33.6   82.8
24    91  18.2   94.0  37.6   96  19.2  15   5  39.2   95.0
56    97  19.4   87.0  34.8   95  19.0  14   4  37.0   91.2
22    73  14.6   71.0  28.4   78  15.6  12   3  30.6   73.6
111    0   0.0    0.0   0.0    0   0.0   0   0   0.0    0.0
65    93  18.6   92.0  36.8   92  18.4  14   5  37.4   92.8
80    90  18.0   90.0  36.0  100  20.0  14   4  38.0   92.0
30    93  18.6   91.0  36.4   91  18.2  14   4  36.2   91.2
73    73  14.6   76.0  30.4   78  15.6  10   3  28.6   73.6
47    91  18.2   94.0  37.6   91  18.2  15   4  37.2   93.0

In [27]:
result=rfc.predict([[79,15.8,79.0,31.6,86,17.2,13,3,33.2,80.6]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(